@import './base.css';

#app {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.backgroundImg {
  position: fixed !important;
  left: 0;
  right: 0;
  z-index: -2;
  height: 100%;
  width: 100%;
  background-image: url(../assets/img/bg-sanyue.png);
  background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  /* dont use this attr, on ios or safari will scale the background img */
  /* background-attachment: fixed;
  -webkit-background-attachment: fixed; */
  background-position: center center;
  background-color: var(--main-color-p);
}

/* #app::before {
  content: '   ';
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-image: url(../assets/img/bg-sanyue.png);
  background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
  background-position: center top;
  background-color: var(--main-color-p);
} */

.divider {
  margin: 24px 0;
  height: 0;
  width: 70%;
  border-bottom: 1px solid #fff;
  align-self: center;
}

@media screen and (max-width: 760px) {
  
}

body::-webkit-scrollbar {
  display: none;
}
