@import './base.css';

#app {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

#app::before {
  content: '   ';
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-image: url(../assets/img/bg-sanyue.png);
  background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
  background-position: center top;
  background-color: var(--main-color-p);
}

body::-webkit-scrollbar {
  display: none;
}
