@import './base.css';

#app {
  position: relative;
  /* padding-top: 180px; */
  /* padding-bottom: 120px; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* overflow: hidden; */
  /* background-color: #63C5F3; */
  background-image: url(../assets/img/bg-sanyue.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}